# Python / Django
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Database & media
db.sqlite3
*.sqlite3
*.db

# Collected static
staticfiles/

# Vercel
.vercel/

# Local env files
.env
.env.local
.env.production